<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/global.css') }}">

    <title>Dangi | Início</title>
</head>

<body>

    <nav class="navbar sticky-top navbar-expand-lg custom-navbar">
        <div class="container-fluid">

            <a class="navbar-brand" href="#">Dangi</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse justify-content-end navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contato">Contato</a>
                    </li>
                </ul>

                <a href="/login"> <button class="panel-button"> Painel </button> </a>

            </div>
        </div>
    </nav>

    <section id="home">
        <div class="container-fluid home">
            <div class="row text-center align-items-center h-100">
                <div class="col-md-12">
                    <h1> Dangi </h1>
                    <p> Validador de arquivos e layouts web </p>
                    <a href="/login"> <button> ENTRAR NO PAINEL <i class="fas fa-arrow-right"></i> </button> </a>
                    <button> CONTATO <i class="fas fa-phone"></i> </button>
                </div>
            </div>
        </div>
    </section>

    <section id="contato">
        <div class="container-fluid contato">
            <div class="row">
                <div class="col-md-12">
                    <h2> 🙋 Contato Técnico </h2>
                    <p> Precisa de ajuda com o sistema? Contate-nos em algum dos veículos abaixo: </p>

                    <div class="contact-card">
                        <ul>
                            <li>
                                <b>E-mail</b>: movats@infra.com.br
                            </li>

                            <li>
                                <b>Telefone</b>: +55 (11) 9775-8446
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>

</html>