@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

root {
    --header-main: #2A2A2A;
}

* {
    font-family: 'Poppins', sans-serif;
}

.page-title {
    color: var(--header-main);
}